<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

    <add key="ProjectPath" value="D:\QA\Automation\SmartView\SmartView"/>
    <add key="InspectionName" value="*171"/>
    <add key="SharedInspectionName" value="CPdn5plus-7"/>
    <add key ="Recipe" value="test"/>

    <add key ="Architecture" value="4 Camera"/>
    
    <add key ="PQAExePath" value="D:\SmartView\PQA.exe"/>
    <add key ="PQAAlternateExePath" value="%SmartViewDir%\PQA.exe"/>

    <add key ="RecipeExePath" value="D:\SmartView\RecipeManager.exe"/>
    <add key ="RecipeAlternateExePath" value="%SmartViewDir%\RecipeManager.exe"/>

    <add key="TestCasePath" value="D:\AutomationPoc\TestCases.xls"/>
    <add key="TestResultTxtFile" value="D:\QA\Automation\TestResult.txt"/>
    <add key="TCIDColumn" value="A"/>
    <add key="TCStatusColumn" value="F"/>
    <add key="TCErrorMessageColumn" value="G"/>
    <add key="IsUpdateTestResult" value="true"/>

    <add key="PC_Name" value="T5600S1_TEST"/>
  </appSettings>
</configuration>