<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

    <add key="ProjectPath" value="D:\QA\Automation\UnderConstruction\SmartView\SmartView.Test"/>
    <add key="InspectionName" value="*171"/>
    <add key="SharedInspectionName" value="load-testd-20k-l10-1"/>
    <add key ="Recipe" value="2v-2c"/>

    <add key ="Architecture" value="2V-2C"/>
    
    <add key ="PQAExePath" value="D:\SmartView\PQA.exe"/>
    <add key ="PQAAlternateExePath" value="%SmartViewDir%\PQA.exe"/>

    <add key ="RecipeExePath" value="D:\SmartView\RecipeManager.exe"/>
    <add key ="RecipeAlternateExePath" value="%SmartViewDir%\RecipeManager.exe"/>

    <add key="TestCasePath" value="D:\AutomationPoc\TestCases.xls"/>
    <add key="TestResultTxtFile" value="D:\QA\Automation\TestResult.txt"/>
    <add key="TCIDColumn" value="A"/>
    <add key="TCStatusColumn" value="F"/>
    <add key="TCErrorMessageColumn" value="G"/>
    <add key="IsUpdateTestResult" value="true"/>

    <add key="PC_Name" value="T5600S1_TEST"/>

    <add key="dbSource" value="QASVDB60"/>
    <add key="dbInitialCatalog" value="COGNEXDB"/>
    <add key="dbUserId" value="efutures"/>
    <add key="dbPassword" value="cognex123"/>
    <add key="dbTrustedConnection" value="true"/>
    <add key="dbConnectionTimeout" value="60000"/>

    <!-- TestLink credentials-->
    <add key="TestLinkTestPlanId" value="2"></add>
    <add key="TestLinkBuildId" value="2"/>
    <add key="TestLinkUrl" value="http://t5600s1_test:90/testlink/lib/api/xmlrpc.php"/>    
    <add key="TestLinkApiKey" value="9f552dd83d80c69e3a20a215e0b19205"/>
    <add key="UpdateTestLink" value="true"/>
    <add key="isUpdateByExternalID" value="false"/>
    <add key="TestCaseIDFile" value="D:\QA\Automation\UnderConstruction\SmartView\SmartView.Test\Resources\TestLink.txt"/>

   
   
  </appSettings>
</configuration>